<ion-slides [options]="slidesOpts">
    <ion-slide *ngFor="let pares of peliculas | pares">

        <ion-row>
            <ion-col size="12" *ngFor="let peliculas of pares">
                <ion-card (click)="verDatalle(peliculas.id)" mode="md">
                    <img [src]="peliculas.poster_path | imagen">
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-slide>

<ion-slide class="slide-mas">
    <ion-button class="btn-mas" 
    (click)="onClick()" expand="full"
    size="large">
    <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
    </ion-button>
</ion-slide>

</ion-slides>